<!-- https://ace.c9.io  -->
<!-- https://ace.c9.io/build/kitchen-sink.html -->
<!-- https://github.com/ajaxorg/ace/wiki/Extensions -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>ACE in Action</title>
<style type="text/css" media="screen">

    .mainEditor, .resultEditor, .inputEditor, .argumentEditor {
        border: 1px solid lightgray;
        margin: auto;
        width: 100%;
    }
    .mainEditor {
        height: 200px;
    }
    .resultEditor {
        min-height: 70px;
    }

</style>
</head>
<body>
Code:
<div id="mainEditor" class="mainEditor"></div>
<div class="toolbar">
  <button id="compileBtn">Compile</button>
  <button id="inputBtn">Input</button>
  <button id="argumentBtn">Argument</button>
</div>
Input:
<div id="inputEditor" class="inputEditor"></div>
Argument:
<div id="argumentEditor" class="argumentEditor"></div>
Result:
<div id="resultEditor" class="resultEditor"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script>
    //ACE
    ace.require("ace/ext/language_tools");

    var defaultLiveEditorContent = "public class Main {\r\n  public static void main(String[] args) {\r\n    for (int i = 0;i < 5; i++) \r\n    System.out.println(\"Hello World\");\r\n  }\r\n}\r\n";
    var mainEditor = constructLiveEditor("mainEditor", defaultLiveEditorContent);
    var resultEditor = constructReadOnlyEditor("resultEditor", 5);
    var inputEditor = constructReadOnlyEditor("inputEditor", 1, 20);
    var argumentEditor = constructReadOnlyEditor("argumentEditor", 1, 20);

    function constructLiveEditor(editorNamespace, defaultContent) {
      var editor = ace.edit(editorNamespace);
      constructDefaultEditor(editor);
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/java");
      editor.setOptions({
          enableBasicAutocompletion: true,
          enableSnippets: true,
          enableLiveAutocompletion: true
      });
      editor.setValue(defaultContent);
      return editor;
    }

    function constructReadOnlyEditor(editorNamespace, minLines, maxLines) {
      var editor = ace.edit(editorNamespace);
      constructDefaultEditor(editor);
      editor.setTheme("ace/theme/textmate");
      editor.session.setMode("ace/mode/text");
      editor.setReadOnly(true);
      editor.renderer.setShowGutter(false);
      editor.setHighlightActiveLine(false);
      editor.setOption("minLines", minLines);
      editor.setOption("maxLines", maxLines);
      return editor;
    }

    function constructDefaultEditor(editor) {
      editor.setAutoScrollEditorIntoView(true);
      editor.setOption("showPrintMargin", false);
      editor.session.setTabSize(2);
      editor.commands.addCommand({
          name: 'NotSave',
          bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
          exec: function(editor) {
              //no - op
          },
          readOnly: true
      });
    }
</script>
<script>
    $('#compileBtn').on('click', function() {
        var code = mainEditor.getValue();
        // TODO stdin
        // var stdin = $('#stdin').val();
        var stdin = "";
        var json = {
            code: code,
            stdin: stdin
        };

        $.post("/compile", json, function(data, error, xhr) {
            // $('#resultEditor').text(data.output);
            resultEditor.setValue(data.output);
        });
    });


</script>
</body>
</html>
